---
import Navigation from "./Navigation.astro";
import type { Lang } from "../../i18n/ui";
import { defaultLang } from "../../i18n/ui";
import { useTranslations, useTranslatedPath } from "../../i18n/utils";

export interface Props {
  lang?: Lang;
}

const { lang = defaultLang } = Astro.props;
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
const homePath = translatePath('/');
---

<header class="sticky top-0 z-[100] w-full bg-white/90 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-20">
    <a href={homePath} class="flex items-center">
      <img src="/uploads/logo.svg" alt={t('site.title')} class="h-12 w-auto" />
    </a>
    
    <Navigation lang={lang} />
  </div>
</header>
